*.class
*.log

# Datasets
/datasets/
/script/upload/

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# java class file
*.class

# Package Files #
*.war
*.ear
/project/target/
/target/
/.settings
/.classpath
/.project
/.idea/
.bsp
.idea

# ignore Maven generated target folders
target
out

# ignore eclipse files
.project
.classpath
.settings
.factorypath
.metadata
.idea
*.iml

# ignore log files
*.log

/err_log/
